@model IEnumerable<MovieModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="movie-list">
    @foreach (var movie in Model)
    {
        <div class="movie-summary">
            <h1 class="movie-title">
                <a href="@Url.Action("Index", "Movie", new {id = movie.Title})">@movie.Title (@movie.Released)</a>
            </h1>
            <p class="movie-tagline">@movie.Tagline</p>
        </div>
    }
</div>