@model PersonModel

@{
    ViewData["Title"] = $"{Model.Name} - Moviegraph";
}

<h1>@Model.Name</h1>
<p class="person-born">Born: @Model.Born</p>

<div class="person-filmography">
    <h2>Filmography</h2>
    <ul>
        @Html.DisplayFor(m => m.Movies)
    </ul>
</div>