<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Moviegraph</title>
    <link href="~/css/movie.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>

    <form class="movie-search" action="@Url.Action("Index", "Home")">
        <h1>
            <a href="/">Moviegraph</a>
        </h1>
        <input name="q" value="@Context.Request.Query["q"]" type="text" placeholder="Search" aria-label="Search">
        <button>&#x1F50D;</button>
        @Html.DropDownList("order", Html.GetEnumSelectList<Order>())
    </form>

</header>

<main>

    @RenderBody()

</main>

</body>

</html>
